<div class="controls">
	<ul>
		<li>
			<label for="nytc">
				NYT colours
				<input type="checkbox" name="nytc" id="nytc" checked>
			</label>
		</li>
		<li><button id="shuffle">Shuffle</button></li>
		<li><button id="update">Update</button></li>
	</ul>
</div>
