<nav>
	<ul>
		<li><a href="/about">About</a></li>
		<li>
			<label for="nytc">
				NYT colours
				<input type="checkbox" name="nytc" id="nytc" checked>
			</label>
		</li>
		<li><button id="update">Update</button></li>
	</ul>
</nav>
