<nav>
	<ul>
		<li><a href="/about">About</a></li>
		<li>
			<label for="nytc">
				NYT colours
				<input type="checkbox" name="nytc" id="nytc" checked>
			</label>
		</li>
		<li><a href="/update">Update</a></li>
	</ul>
</nav>
