---
layout: page.njk
title: Connections Helper
---

{% set words = ["count", "harp", "bird", "wings", "chic", "grouch", "blues", "marx", "monster", "robe", "chemical", "current", "blood", "fresh", "halo", "happening"] %}
{% set alpha = words | sort %}

<div class="container nyt-col">
{% for word in alpha %}
{% if loop.index0 % 4 == 0 %}
<div class="row row{{ loop.index0 / 4 }}">
{% endif %}
<div class="droptarget" id="drop{{loop.index}}">
	<div class="dragme" draggable="true" id="item{{loop.index}}">{{ word }}</div>
</div>
{% if loop.index0 % 4 == 3 %}
</div>
{% endif %}
{% endfor %}
</div>
