---
layout: page.njk
title: Connections Helper
---

<div class="container nyt-col">
{% for i in range(16) %}
{% if i % 4 == 0 %}
<div class="row row{{ i / 4 }}">
{% endif %}
<div class="droptarget" id="drop{{i}}">
	<div class="dragme" draggable="true" id="item{{i}}">{{ i }}</div>
</div>
{% if i % 4 == 3 %}
</div>
{% endif %}
{% endfor %}
</div>

<div class="entry-box hide">
	<h2>Enter 16 items, one per line</h2>
	<textarea name="entry" id="entry" rows="16"></textarea>
	<div id="buttons">
		<button id="cancel">Cancel</button>
		<button id="go">Go</button>
	</div>
</div>
